<!doctype html>
<html lang="en-US">
    <head>
        <title>Engineering Journeyman{% if page.title %} | {{ page.title }}{% endif %}</title>
        
        <meta charset="UTF-8" />
        <meta name="keywords" content="Engineering Journeyman, engineering, journeyman, software" />
        <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}Tanner Taylor{% endif %}" />
        <meta name="description" content="{{ site.description }}" />

        <link rel="stylesheet" href="/styles/normalize.css" />
        <link rel="stylesheet" href="/styles/main.css" />
    </head>
    <body>
        <header>
            <h1>Engineering Journeyman</h1>

            <nav>
                {% for navItem in site.data.navigation %}
                    <a href="{{ navItem.link }}">{{ navItem.name }}</a>
                {% endfor %}
            </nav>
        </header>
        
        <section>
            {{ content }}
        </section>
        
        <footer>
            <span>&copy; {{ site.time | date: '%Y' }} Tanner Taylor</span>
        </footer>
    </body>
</html>