<!doctype html>
<html lang="en-US">
    <head>
        <title>Engineering Journeyman{% if page.title %} | {{ page.title }}{% endif %}</title>
        
        <meta charset="UTF-8" />
        <meta name="keywords" content="Engineering Journeyman, engineering, journeyman, software" />
        <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}Tanner Taylor{% endif %}" />
        <meta name="description" content="{{ site.description }}" />

        <link rel="stylesheet" href="/styles/fonts.css" />
        <link rel="stylesheet" href="/styles/normalize.css" />
        <link rel="stylesheet" href="/styles/themes.css" />
        <link rel="stylesheet" href="/styles/main.css" />

        <script>
            function setTheme(themeClassName) {
                document.documentElement.className = themeClassName;
                localStorage.setItem("theme", themeClassName);
            }

            function toggleTheme() {
                if (localStorage.getItem("theme") === "theme-dark") {
                    setTheme("theme-light");
                } else if (localStorage.getItem("theme") === "theme-light") {
                    setTheme("theme-dark");
                }
            }

            setTheme("theme-light");
        </script>
    </head>
    <body>
        <header>
            <h1>Engineering Journeyman</h1>

            <nav>
                {% for navItem in site.data.navigation %}
                    <a href="{{ navItem.link }}">{{ navItem.name }}</a>
                {% endfor %}
            </nav>

            <button onclick="toggleTheme()">Toggle Theme</button>
        </header>
        
        <section>
            {{ content }}
        </section>
        
        <footer>
            <span>&copy; {{ site.time | date: '%Y' }} Tanner Taylor</span>
        </footer>
    </body>
</html>