/* general styles */

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: Roboto;
    line-height: 150%;

    width: 65%;
    margin: 0 auto;
    padding: 15px 0;
}

h1, h2, h3, h4 {
    font-family: HKGrotesk;
    font-weight: bold;
    color: var(--foreground-heading-color);
}

hr {
    margin: 25px 0;
}

/* header styles */

.logo {
    fill: var(--foreground-heading-color);
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: var(--foreground-heading-color);
    font-size: 1.15em;
    font-family: HKGrotesk;
    font-weight: bold;
}

nav a:hover, nav a.current-page {
    text-decoration: underline;
}

/* footer styles */

footer {
    text-align: center;
    padding-top: 25px;
}

/* flex styles */

.flex-container {
    display: flex;
}

.flex-vertical-align {
    align-items: center;
}

.flex-split-content {
    justify-content: space-between;
}