/* general styles */

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: Roboto;
    line-height: 150%;
}

h1, h2, h3, h4 {
    font-family: HKGrotesk;
    font-weight: bold;
    color: var(--foreground-heading-color);
}

/* header styles */

header {
    background-color: var(--main-dark-color);
    padding: 25px;
}

.logo {
    color: var(--main-light-color);
    fill: var(--main-light-color);
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: var(--main-light-color);
}

nav a:hover, nav a.current-page {
    text-decoration: underline;
}

/* flex styles */

.flex-container {
    display: flex;
}

.flex-vertical-align {
    align-items: center;
}

.flex-split-content {
    justify-content: space-between;
}